
body {
    margin: 0;
    padding: 0;
}

.button-box {
    text-align: center;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

footer {
    background-color: #00BBE0;
}

header {
    background-color: #00BBE0;
}

#hero-img {
    max-width: 100%;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.logo {
    width: 100px;
}

main section {
    text-align: center;
}

nav a{
    text-align: center;
}
nav a:hover {
    background-color: #AFFDFD;
}

.social {
    width: 100px;
}