
body {
    margin: 0;
    padding: 0;
}

.button-box {
    text-align: center;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

footer {
    background-color: #00BBE0;
}

footer h3 {
    color: #ffffff;
}

footer h3 a {
    color:#ffffff;
    text-decoration: none;
}

footer h3 a:hover {
    color: #FF99D6;
}

header {
    background-color: #00BBE0;
}

#hero-img {
    max-width: 100%;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.logo {
    width: 100px;
}

main section {
    text-align: center;
}

nav a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}
nav a:hover {
    color: #FF99D6;
}

.social {
    width: 80px;
    float: right;
}